<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<title></title>
	<script src="js/angular.min.js"></script>
</head>
<body>
<div id="emailEditor">
	<input type="email" ng-model="to" placeholder="Recipient" />
	<textarea ng-model="emailBody"></textarea>
</div>
<div id="emailPreview">
	<pre>_ previewText _</pre>
</div>

<script type="text/javascript">
	angular.module('myApp', ['emailParser']).controller('');
	angular.module('myApp', ['emailParser']).controller('');
</script>
</body>
</html>